body{
    background-color: #121518;
    color: #dadada;
}

.main-product-section{
    flex-grow: 1;
}

.nav a{
    color: inherit;
    font-weight: 400;
}

.title, .sub-title, .price{
    color: inherit;
}

.sub-title{
    font-size: 1.25rem;
}

.btn{
    margin: 30px 0 0 0;
    padding: 10px 20px;
    border: none;
}


.left-product .btn{
    align-self: start;
}

.right-product{
    /* width: 50%;
    min-width: 50%;
    height: 80%;
    min-height: 80%; */
    flex: 1 1 auto;
    padding-bottom: 80px;
    background-color: #2C3135;
    border-radius: 20px;
    margin: 20px;
}

.product-img{
    width: 100%;
}

.circles{
    position: absolute;
    bottom: 14vh;
    right: 16vw;
    width: 30vw;
    align-self: center;
    justify-content: space-around;
}

.circle{
    width: 20%;
}

/* Media Queries for Responsive */
@media(max-width:1024px){
    .circles{
        bottom:0%;
        transform: translate(0%,-850%);
    }
}

@media(max-width:600px){
    .circles{
        transform: translate(-60%,310%);
    }
}

@media(max-width:540px){
    .circles{
        transform: translate(-60%,-115%);
    }
}

@media(max-width:320px){
    .circles{
        transform: translate(-60%,100%);
    }
}

@media(max-width:280px){
    .circles{
        transform: translate(-60%,-300%);
    }
}